version: '2.4'
services:
  db:
    image: mysql
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306
    volumes:
      - caio_data:/var/lib/mysql

volumes:
  caio_data: